@model JSBVelgenEnVeren.Models.Banden

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <h4>Banden</h4>
    <hr />
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Naam)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Naam)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Merk)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Merk)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CategorieId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategorieId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Prijs)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prijs)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Omschrijving)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Unit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Unit)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Url)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Url)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BandenId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BandenId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Hoogte)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hoogte)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Breedte)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Breedte)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LaadIndex)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LaadIndex)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Diameter)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Diameter)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SnelheidsCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SnelheidsCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AutoId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AutoId)
            </dd>

        </dl>
    </div>
    <div class="col-md-6">
        <br />
        <img src="~/Images/Banden/@Model.Url" width="300" height="300" />

    </div>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
